<%= form_for @user do |u| %>
  <p>
    <%= u.label :username %>
    <%= u.text_field :username, placeholder: "Your username" %>
  </p>
  <p>
    <%= u.label :email %>
    <%= u.email_field :email, placeholder: "Email" %>
  </p>
  <p>
    <%= u.label :password %>
    <%= u.password_field :password, placeholder: "password"%>
  </p>
  <br>
  <%= u.submit %>
<% end %>