<%= form_tag('/users',method: :post) do %>
 
  <div>
   <%= label_tag 'username','Username'%>
  <%= text_field_tag 'user[username]' %></div>
  <div>
  <%= label_tag 'email','email'%>
  <%= text_field_tag 'user[email]' %></div>
  
  <div>
    <%= label_tag 'password','password'%>
    <%= text_field_tag 'user[password]' %>
  </div>
  <div>
  <%= submit_tag 'Submit' %>
  </div>
<% end %>